
.flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.flex-item {
    width: 200px;
    overflow-wrap: break-word;
}
.flex-item.large {
    width: 400px;
}
.flex-item h3 {
    text-align: center;
}
.flex-item p {
    padding: 3px;
}

@media (max-width: 800px) {
    .flex {
        justify-content: center;
    }
    .flex-item {
        text-align: center;
    }
}

footer {
    text-align: center;
}

.site-title {
    font-family: "PT Mono", sans-serif;
    text-transform: uppercase;
}

@media (max-width: 800px) {
    #fidget-widget {
        margin-top: 10px;
    }
}

#canvas-of-life {
}

#silverChilling{
    background-image: linear-gradient(rgba(44, 44, 46, 0.5), rgba(44, 44, 46, 0.5)), url('../images/silver chilling.jpg');
}

#silverBasking {
    background-image: linear-gradient(rgba(44, 44, 46, 0.5), rgba(44, 44, 46, 0.5)), url('../images/silver basking.jpg');
}

#silverCloseup {
    background-image: linear-gradient(rgba(44, 44, 46, 0.5), rgba(44, 44, 46, 0.5)), url('../images/silver closeup.jpg');
}

#silverPosing {
    background-image: linear-gradient(rgba(44, 44, 46, 0.5), rgba(44, 44, 46, 0.5)), url('../images/silver posing.jpg');
}
