


body {
    background-color: #fefffe;
    font-family: Arial, sans-serif;
}

h1 {
    color: #212529;
}

.label {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), color-stop(60%, rgba(0, 131, 255, 0.2)), to(rgba(0, 131, 255, 0.2)));
    text-decoration: none;
    color: black;
    padding: 0px 3px;
    font-weight: 700;
}

.label:hover,
.label:focus {
    color: black;
}

.label-red {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), color-stop(60%, rgba(255, 82, 82, 0.4)), to(rgba(255, 82, 82, 0.4)));
    text-decoration: none;
    color: black;
    padding: 0px 3px;
    font-weight: 700;
}

.label-red:hover,
.label-red:focus {
    color: black;
}

.label-purple {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), color-stop(60%, rgba(112, 111, 211, 0.4)), to(rgba(112, 111, 211, 0.4)));
    text-decoration: none;
    color: black;
    padding: 0px 3px;
    font-weight: 700;
}

.label-purple:hover,
.label-purple:focus {
    color: black;
}

.label-orange {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), color-stop(60%, rgba(255, 121, 63, 0.4)), to(rgba(255, 121, 63, 0.4)));
    text-decoration: none;
    color: black;
    padding: 0px 3px;
    font-weight: 700;
}

.label-orange:hover,
.label-orange:focus {
    color: black;
}

.label-yellow {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), color-stop(60%, rgba(255, 177, 66, 0.4)), to(rgba(255, 177, 66, 0.4)));
    text-decoration: none;
    color: black;
    padding: 0px 3px;
    font-weight: 700;
}

.label-yellow:hover,
.label-yellow:focus {
    color: black;
}

.label-green {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), color-stop(60%, rgba(68, 189, 50, 0.4)), to(rgba(68, 189, 50, 0.4)));
    text-decoration: none;
    color: black;
    padding: 0px 3px;
    font-weight: 700;
}

.label-green:hover,
.label-green:focus {
    color: black;
}

.label-berry {
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(60%, transparent), color-stop(60%, rgba(181, 52, 113, 0.4)), to(rgba(181, 52, 113, 0.4)));
    text-decoration: none;
    color: black;
    padding: 0px 3px;
    font-weight: 700;
}

.label-berry:hover,
.label-berry:focus {
    color: black;
}

.social-link {
    margin-right: 20px;
    margin-top: 40px;
    font-weight: 700;
}

.header {
    height: 80px;
    width: 100%;
}

.header-right {
    float: right;
    padding-top: 40px;
    font-weight: 700;
}

.header-left {
    float: left;
    padding-top: 40px;
    font-weight: 700;
}

.shhh {
    width: 350px;
    height: 15px;
}

.name {
    font-size: 300%;
}

@media (max-width: 600px) {
    .header-right,
    .header-left {
        font-size: 70%;
    }
    .shhh {
        width: 200px;
        height: 30px;
    }
    .name {
        font-size: 260%;
    }
}

.header-link {
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 20px;
    color: #192a56;
}

.header-link:hover {
    color: #192a56;
}

.arrow-list li:before {
    content: "→ ";
}

.arrow-list {
    list-style: outside none;
    padding-left: 40px;
    padding-right: 40px;
    list-style-position: outside;
}

.special-li {
    display: list-item;
    text-align: -webkit-match-parent;
    text-indent: -2em;
}

.blog-link {
    color: #576574;
}

.blog-link {
    color: #576574;
}

.blog-link:hover {
    color: black;
}

blockquote {
    font-style: italic;
    border-left: 2px solid #341f97;
    padding-left: 15px;
    margin-left: 20px;
}

.link {
    color: #0c2461;
}

.link:after {
    content: " ⮐";
}

.link:hover {
    color: #6a89cc;
}